use flake

if [ -f .env ]; then
  echo "Loading .env file variables into the shell"
  source .env
else
  echo -e "\033[33mWarning: .env file not found terraform modules will not work as expected\033[0m"
fi
