@define-color bgDefault #1f1f1f;
/* @define-color bgDefault #a020f0; */

@define-color fgDefault #ffffff;

@define-color fgBlack #000000;

@define-color accent lightblue;

@define-color warning #eb4d4b;
@define-color bgBatteryCharging #26A65B;
@define-color bgBateryCritical #f53c3c;


* {
  border: none;
  border-radius: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @fgDefault;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background: @bgDefault;
  color: @fgDefault;
  /* border-radius: 20px; */
}

#workspaces button:not(:first-child) {
  margin-left: 1px;
}

/* #workspaces button:first-child {
  border-radius: 20px 0px 0px 20px;
}
#workspaces button:last-child {
  border-radius: 0px 20px 20px 0px;
} */


#workspaces button:hover {
  background: @accent;
  color: @fgBlack;
  border-bottom: 3px solid @fgDefault;
}

#workspaces button.active {
  background: @accent;
  border-bottom: 3px solid @fgDefault;
}

/* #workspaces button.focused:hover {
  background: @accent;
  color: @fgBlack;
  border-bottom: 3px solid @fgDefault;
} */

#workspaces button.urgent {
  background-color: @warning;
}

#mode {
  background-color: @bgDefault;
  border-bottom: 3px solid @fgDefault;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#tags,
#taskbar,
#tray,
#idle_inhibitor,
#mpd,
#language {
  padding: 0 10px;
  color: @fgDefault;
  background-color: @bgDefault;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#battery {
  padding: 0 10px;
  /* background-color: @fgDefault;
  color: @fgBlack; */
  color: @fgDefault;
  background-color: @bgDefault;
}

#battery.charging,
#battery.plugged {
  color: @fgDefault;
  background-color: @bgBatteryCharging;
}

#battery.critical:not(.charging) {
  background-color: @bgBateryCritical;
  color: @fgDefault;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected,
#pulseaudio.muted {
  color: @warning;
}

/* #custom-snip {
  color: @colorSkyBlue;
}



#tags button.occupied {
  background-color: @bgDefault;
  color: @colorSkyBlue;
} */

#idle_inhibitor {
  border-radius: 20px 0px 0px 20px;
}
#idle_inhibitor.activated {
  background: @accent;
}

#keyboard-state {
  background: #97e1ad;
  color: @fgBlack;
}

#tags button.focused {
  background-color: @fgDefault;
  color: @fgBlack;
}

#tags button.urgent {
  background-color: @fgDefault;
  color: @warning;
}

#temperature.critical {
  background-color: @warning;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

@keyframes blink {
  to {
    background-color: @fgDefault;
    color: @fgBlack;
  }
}
